*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

/*!----------Header----------*/

header nav img{
    width: 150px;
    height: 100%;
}

/*!----------Main----------*/

main section{
    background-color: rgb(20, 20, 20);
    height: 1100px;
    width: 100%;
    padding-top: 50px;
}

main section img{
    height: 300px;
    width: 300px;
    border: 2px solid white;
    color: white;
}


.title{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: center;
}

.fot_{
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    grid-column: 1 / 2;
}

.fot_dos{
    position:relative; top: 150px;
}

.fot_cinco{
    position:relative; top: 150px;
}

/*!----------Footer----------*/

footer{
    background-color: rgb(34, 34, 34);
    display: flex; justify-content: center;
    padding: 50px;
}

/*?----------MEDIA QUERY----------*/

@media screen and (max-width:1200px) {
    main section{
        height: 1100px;
        width: 100%;
    }
    .title{ 
    display: flex; justify-content: space-around; align-items: center;
    color: white;
    font-size: 80px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: center;
    }
    .fot_{
        width: 80%;
        margin: 0 auto;
        margin-top: 50px;
        display: grid;
        grid-template-columns: 300px 300px;
        grid-template-rows: 300px 300px ;
    }
    .fot_dos{
    position:relative; top: 0px;
    }
    .fot_cinco{
    position:relative; top: 150px;
    position:relative; top: 0px;
    }
}

@media screen and (max-width:720px) {
    .title{ 
        display: flex; justify-content: space-around; align-items: center;
        color: white;
        font-size: 50px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-weight: bolder;
        text-align: center;
    
    }
}

@media screen and (max-width:660px) {
    main section{
        height: 2200px;
        width: 100%;
    }
    .fot_{
        width: 80%;
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 300px;
        }
    }
