/*---footer-v1---*/

.footer_v1{
    background-color: rgb(20, 20, 20);
    display: flex; justify-content: space-around;
    padding: 100px;
}

/*---footer-v2---*/

.footer_v2{
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: center;
    padding: 50px;
}