/*---INDEX---*/

.index_main{
    section{
        img{
            height: 500px;
            width: 500px;
            margin: 50px;
            border: 2px solid $color_tres;
            color: $color_tres;
        }
    }
    .hero{
        background-color: $color_uno;
        width: 100%;
        height: 100vh;
        display: flex; justify-content: space-around;
        align-items: center;
    
        h1{
            color: $color_tres;
            font-size: 40px;
            font-family:Georgia, 'Times New Roman', Times, serif;
            font-weight: bolder;
            text-align: center;
    }
    }
    .perspectiva{
        background-color: $color_dos;
        color: $color_tres;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        display: flex; justify-content: center;
        align-items: center;
        flex-direction: column;

        h2{
            color: $color_tres;
            font-size: 50px;
            font-family:Georgia, 'Times New Roman', Times, serif;
            font-weight: bolder;
            text-align: center;
            padding-top: 40px;
            padding-bottom: 20px;
        }

        .parrafo_perspectiva {
            padding: 20px;
            text-align: center;
        }
    }
    .pack_uno{
        background-color: $color_uno;
        color: $color_tres;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        display: flex; justify-content: center;
        align-items: center;
        flex-direction: column;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        div{

            h3{
                color: $color_tres;
                font-size: 50px;
                font-family:Georgia, 'Times New Roman', Times, serif;
                font-weight: bolder;
                text-align: center;
                padding-top: 40px;
                padding-bottom: 20px;
            }

            p{
                text-align: center;
                padding: 20px;

            }

        }

        .adquirir_uno{
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: center;
            margin-bottom: 30px;

            a{
                padding: 5px;
                border: 2px solid $color_tres;
                color: $color_tres;
                font-family:Georgia, 'Times New Roman', Times, serif;
                font-weight: bolder;
                font-size: 30px;
            }
        }
    }
    .pack_dos{
        background-color: $color_dos;
        color: $color_tres;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        display: flex; justify-content: center;
        align-items: center;
        flex-direction: column;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        div{

            h3{
                color: $color_tres;
                font-size: 50px;
                font-family:Georgia, 'Times New Roman', Times, serif;
                font-weight: bolder;
                text-align: center;
                padding-top: 40px;
                padding-bottom: 20px;
            }

            p{
                text-align: center;
                padding: 20px;

            }

        }

        .adquirir_uno{
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: center;
            margin-bottom: 30px;

            a{
                padding: 5px;
                border: 2px solid $color_tres;
                color: $color_tres;
                font-family:Georgia, 'Times New Roman', Times, serif;
                font-weight: bolder;
                font-size: 30px;
            }
        }
    }
    .pack_tres{
        background-color: $color_uno;
        color: $color_tres;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        display: flex; justify-content: center;
        align-items: center;
        flex-direction: column;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        div{

            h3{
                color: $color_tres;
                font-size: 50px;
                font-family:Georgia, 'Times New Roman', Times, serif;
                font-weight: bolder;
                text-align: center;
                padding-top: 40px;
                padding-bottom: 20px;
            }

            p{
                text-align: center;
                padding: 20px;

            }

        }

        .adquirir_uno{
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: center;
            margin-bottom: 30px;

            a{
                padding: 5px;
                border: 2px solid $color_tres;
                color: $color_tres;
                font-family:Georgia, 'Times New Roman', Times, serif;
                font-weight: bolder;
                font-size: 30px;
            }
        }
    }
    .parrafo {
        background-color: $color_dos;
        color: $color_tres;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        display: flex; justify-content: center;
        align-items: center;
        flex-direction: column;

        h2{
            color: $color_tres;
            font-size: 50px;
            font-family:Georgia, 'Times New Roman', Times, serif;
            font-weight: bolder;
            text-align: center;
            padding-top: 40px;
            padding-bottom: 20px;
        }

        p{
            text-align: center;
            padding: 50px;
        }
    }
}

/*---SOBRE MI---*/

.sobremi{
    background-color: $color_uno;
    display: flex; justify-content: space-around; align-items: center;
    color: $color_tres;
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: center;
    padding-left: 20px;
    padding-top: 100px;
    padding-right: 20px;

    img{
        height: 500px;
        width: 500px;
        margin: 50px;
        border: 2px solid $color_tres;
        color: $color_tres;
    }

    div{
        width: 100%;
        height: 100%;

        p{
            color: $color_tres;
            font-size: 20px;
            font-family:Georgia, 'Times New Roman', Times, serif;
            font-weight: lighter;
            text-align: center;
            margin-top: 10px;
            padding: 20px;
        }
    }
}

/*---RETRATOS---*/

.retratos {
    background-color: $color_uno;
    height: 1100px;
    width: 100%;
    padding-top: 0px;

    div{
        img{
            height: 300px;
            width: 300px;
            border: 2px solid $color_tres;
            color: $color_tres;
        }
    }
    .title{
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: $color_tres;
        font-size: 100px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-weight: bolder;
        text-align: center;
    }
    .fot_{
        width: 50%;
        margin: 0 auto;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
        row-gap: 30px;
        grid-column: 1 / 2;
    }
    
    .fot_dos{
        position:relative; top: 150px;
    }
    
    .fot_cinco{
        position:relative; top: 150px;
    }    
}

/*---PAISAJES---*/

.paisajes {
    background-color: $color_uno;
    height: 1100px;
    width: 100%;
    padding-top: 50px;

    div{
        img{
            height: 300px;
            width: 300px;
            border: 2px solid $color_tres;
            color: $color_tres;
        }
    }
    .title{
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: $color_tres;
        font-size: 100px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-weight: bolder;
        text-align: center;
    }
    .fot_{
        width: 50%;
        margin: 0 auto;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
        row-gap: 30px;
        grid-column: 1 / 2;
    }
    
    .fot_dos{
        position:relative; top: 150px;
    }
    
    .fot_cinco{
        position:relative; top: 150px;
    }    
}

/*---EVENTOS---*/

.eventos {
    background-color: $color_uno;
    height: 1100px;
    width: 100%;
    padding-top: 50px;

    div{
        img{
            height: 300px;
            width: 300px;
            border: 2px solid $color_tres;
            color: $color_tres;
        }
    }
    .title{
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: $color_tres;
        font-size: 100px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-weight: bolder;
        text-align: center;
    }
    .fot_{
        width: 50%;
        margin: 0 auto;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
        row-gap: 30px;
        grid-column: 1 / 2;
    }
    
    .fot_dos{
        position:relative; top: 150px;
    }
    
    .fot_cinco{
        position:relative; top: 150px;
    }    
}
